{block content}
    <div >
        <h3 n:block="title">{$nadpis}</h3>
        <a href="{plink ProdejLeku:add}" class="btn btn-success" >
            <span style="font-size:16px; margin-right: 15px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-plus"></span>
            Uskutečnit nový prodej
        </a>
    </div>
    <div style="margin-top: 10px;">{control datagrid}</div>
{/block}