#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
php:
	date.timezone: Europe/Prague

application:
	mapping:
		*: App\*Module\Presenters\*Presenter

services:
	- App\Model\LekManager
	- App\Model\DodavatelManager
	- App\Model\LekarnikManager
	- App\Model\PobockaManager
	- App\Model\PojistovnaManager
	- App\Model\ProdejManager
	- App\Model\SortimentManager
	- App\Model\RezervaceManager
	- App\Model\PredpisManager
	- App\Model\DoplatekManager
	- App\Model\UskladnenManager
	- App\Model\SeznampolozekManager
	- App\Model\PredpisnaManager
	- App\Model\ObsahujeManager
	- App\Model\ObjednavkaManager
	- App\Model\ObjednavkaobsahujeManager
