{block content}
    <div style="margin-left: 10px;">
        Lekarna
        <h3 n:block="title">{$nadpis}</h3>{$button|noescape} Přidat
    </div>
    <div style="margin: 10px 10px 10px 10px;">{control datagrid}</div>
{/block}