<div class="input-group number-spinner" style="width: 120px;">
    <span class="input-group-btn">
        <button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
    </span>
    <input type="text" class="form-control text-center" value="1" id="numberOfItems{$id}">
    <span class="input-group-btn">
        <button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
    </span>
</div>