<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta n:ifset="$robots" name="robots" content="{$robots}">

	<title>{block title|striptags|trim}{/block} | Nette example</title>


	<!-- jquery + bootstrap.js + jquery-ui -->
	<script src="{$basePath}/js/jquery-2.2.4.min.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/jquery-ui.min.js"></script>


	<!-- Bootstrap + theme-->
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap-theme.min.css">


	<script src="{$basePath}/js/netteForms.js"></script>
	<script type="text/javascript">
        function getBasePath() {
            return {$basePath};
        }
	</script>
	<script src="{$basePath}/js/main.js"></script>

</head>

<body>
	<div n:foreach="$flashes as $flash" id="falshMessage" class="alert alert-dismissable alert-{$flash->type} fade in" style="position: absolute; z-index: 1000; width: 100%;"><strong>{$flash->type}</strong> {$flash->message}</div>

	<nav class="navbar navbar-light" id="menu" style="background-color: #e6eaf2;">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" n:href="Homepage:default">Administrace</a>
			</div>
			<ul class="nav navbar-nav">
				{foreach $menuItems as $item => $link}
					<li {ifCurrent $link}class="active"{/ifCurrent} ><a n:href="$link">{$item}</a></li>
				{/foreach}
			</ul>
		</div>
	</nav>

	<div id="content">
		{include content}
	</div>

</body>
</html>
